<div class="row">
  <div class="span2 offset4">
    <legend>User entry:</legend>
          <table class="table" id="reports" >
            <tbody>
              <%= render @reports.find(:all, :conditions => [" created_at between ? AND ?", Time.now.beginning_of_day, Time.now.end_of_day]) %>
            </tbody>  
          </table>
  </div>
  <div class="span3">
  </div>
  <div class="span3" id="info">
    <%= render 'user_info' %>
  </div>
</div>
