<%= image_tag('lab.png', :border => 0, :style => "float: left") %>
<h2>Welcome to Laboratory Control System<h2>
<div style="clear:both;"></div><br/>
<%= link_to "SIGN UP NOW", signup_path , :class => 'btn btn-danger' %>
